

.userSection {
  color: #fff;
  font-weight: 500;
}

.logoutBtn {
  background: rgba(255,255,255,0.25);
  backdrop-filter: blur(6px);
  border-radius: 50px;
  color: #fff;
  border: 1px solid white !important;

  &:hover {
    background: rgba(255,255,255,0.25);
  }
}
.appHeader {
  background: linear-gradient(135deg, #05d782, #4b4beb);
  color: #fff;
  padding: 0.75rem 0;
}

.logoBadge {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2); // subtle transparent white
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  font-size: 1.4rem;
 color: #000000; 
  
}

.title {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1;
  color:#000000; 
}
.searchBtn {
background: linear-gradient(90deg, #2563eb, #0ea5e9);
  border: none;
  color: white;

  &:hover {
   background: linear-gradient(90deg, #0ea5e9, #2563eb);

  }
}